

.navbar {
  transition: all 0.3s ease-in-out;
   backdrop-filter: blur(6px);
   margin: 30px;
   
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-brand span {
  color: #d9b26f;
}

.nav-link {
  color: white !important;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #d9b26f !important;
}

.book-btn {
  background-color: #d9b26f;
  border: none;
  color: #111;
  transition: background 0.3s;
}

.book-btn:hover {
  background-color: #c39c54;
}

/* Responsive: show Book Table button below menu on small screens */
@media (max-width: 992px) {
  .book-btn {
    display: block;
    margin: 20px auto;
  }
}
